/* ------------------------- */
/*  base
/* -------------------------- */
html{
  font-size: 62.5%
}
body{
  font-size: 1.6rem;
  color: #152a52;
  line-height: 1.7;
}

/* ------------------------- */
/*  header
/* -------------------------- */
header{
  background-color: #2d5eb7;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
}
h1{
  font-size: 2.4rem;
  font-weight: bold;
}
header a{
  text-decoration: none;
  color: #fff;
}
header ul{
  display: flex;
}
header li{
  margin-right: 30px;
}
header li:last-of-type{
  margin-right: 0;
}

.fv{
  height: 600px;
  background-image: url(../images/hero-img.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-copy{
  font-size: 3rem;
}

.fv-text{
  font-size: 1.8rem;
  margin-top: 10px;
}

.cta-btn{
  display: inline-block;
  width: 240px;
  padding: 10px 0;
  text-align: center;
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  background-color: #ffa201;
  margin-top: 40px;
  border-radius: 27px;
  box-shadow: 0 0 10px #ffa201;
}

.cta-btn:hover{
  background-color: #fff;
  
}