/* ----------------------------------- */
/* base
/* ----------------------------------- */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
  line-height: 1.7;
  color: #152A52;
  font-family: sans-serif;
}

.section{
  width: 1020px;
  margin: 0 auto;
  padding: 130px 0;
}

.section-title{
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 40px;
}


/* ----------------------------------- */
/* section01
/* ----------------------------------- */